.section-home{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #242424a4, rgba(34, 34, 34, 0.593)), url(../../assets/Capture9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textBox{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem; 
}
.heading-main{
    font-size: 4rem;
    line-height: 1.7;
    text-align: center;
    font-family: primaryFont;
}
.heading-alt{
    font-size: 2rem;
    text-align: center;
    font-family: secondaryFont;
}
button{
    margin: 1rem;
    font-size: 1.8rem;
    border: none;
    text-decoration: none;
    filter: drop-shadow(0 0 2em rgb(25, 233, 2));
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 1px solid #4ace0c;
    padding: 12px 26px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    background: transparent;
    z-index: 1;

}
button:hover{
    color: whitesmoke;
    outline: none;
    transition: background 1s;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -32px;
    width: 0;
    height: 100%;
    background-color: rgb(54, 183, 18);
    transform: skew(35deg);
    z-index: -1;
    transition: width 1s;
}
button:hover::before{
    width: 200%;
}
.button-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}