.section-user{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #242424a4, rgba(34, 34, 34, 0.593)), url(../../assets/Capture9.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes imgAnimate {
    from{
        opacity: 0;
        scale: 0.7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.user-info-wrapper{
    width: 80%;
    gap: 1rem;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: imgAnimate 1.5s ease-in-out;
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
}
.user-info{
    border-radius: 10px;
    border: 1px solid azure;
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.user-image, img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    /* transform: scale(0.5); */
    height: auto;
    margin: 0 auto;
}
.text{
    text-align: left;
    font-size: 1.4rem;
    color: azure;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}
.pagination-btn{
    width: 10px;
    font-size: 1.4rem;
    font-family: secondaryFonts;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: inset 0px 0px 2px #4ace0c;
}
.pagination-btn.active{
    background: #4ace0c;
    color: azure;
    outline: none;
}